@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --npr: #265255;
  --npr-petrol: #136C70;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-principal: 'Lexend Deca', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-principal);
}
